body {
    font-family: Arial, sans-serif;
    background-color: #eeeaea;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: rgb(17, 27, 179);
    text-transform: uppercase;
    font-weight: bolder;
    
}
.alert {
    color: red;
  }
.main {
    width: 30%;
    margin: 20px auto;
    background-color: #ffffff;
    color: rgb(56, 0, 0);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction:column;
 }

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

button {
     padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px ;
    color: white;
    font-size: 20px;
    font-family: monospace;
    background-color: #c70000;
   cursor: pointer;
   
}
button:hover{
    transition: 0.1s ease-in ;
    background-color: #ff0000;
}
.submit-button{
    width: 38%;
    border-radius: 10px;
    border: 2px ;
    color: white;
    font-size: 15px;
    font-family: monospace;
    background-color: #11b48b;
   cursor: pointer;
}
form{
    display: flex;
     
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #006d6d;
    background-color: rgb(120, 196, 8);
}

th, td {
    border: 1px solid #d30d0d;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:hover {
    background-color: #ddd;
}

#searchInput {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
.editbutton{
    color: #d30d0d;
}

@media (max-width:786px){
 .main{
    width:200px;
 }
}